@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }

    .section {
        padding: 120px 0;
        }

    /* ----------------------Header------------------ */

    .logo {
        line-height: 1.3;
    }

    .navigation-list {
        margin-left: 72px;
    }

    .navigation-link {
        font-weight: 500;
    }

    .address-list {
        display: flex;
        flex-wrap: nowrap;

        margin-left: 332px;
        gap: 40px;
    }

    .address {
        font-size: 16px;
        line-height: 1.5;
    }

    /* .address:not(:last-child) {
    margin-right: 40px;
} */

/* ----------------------Hero------------------ */

    .hero-section {
        max-width: 1440px;
        min-height: 600px;
        padding-top: 187px;
        padding-bottom: 188px;

        background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
        url(../images/heroimage.jpg); 
    }

    .hero-title {
        margin-bottom: 48px;

        font-weight: 600;
        font-size: 56px;
        line-height: 1.07;
    }

    /* ----------------------Description------------------ */

    .description-section {
        padding: 120px 0;
    }

    .descrioption-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .description-item {
        width: 264px;
    }

    .card-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    .card-text {
        font-weight: 400;
    }

    .icon-description {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light);
        width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    }

    /* ----------------------Work------------------ */

    .work-section {
        display: flex;
    }

    /* ----------------------Team------------------ */

    .team-section {
        padding: 120px 0;
    }

    .name-title {
        text-align: center;
    }

      /* ----------------------Customers------------------ */

      .customers-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
      }

      /* ----------------------Footer------------------ */

      .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        }

      .footer-container {
        flex-wrap: nowrap;
        gap: 0;

        padding-left: 0;
      }

      .social-container {
        margin-left: 120px;
      }

      .subscribe-container {
        margin-left: 80px;
      }

      .subscribe-form {
        flex-wrap: nowrap;
      }

}