@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 15px;
    }

    /* ----------------------Header------------------ */

    .header-box {
        justify-content: flex-start;
    }

    .navigation-list {
        display: flex;
        margin-left: 123px;
    }

    .address-list {
        display: flex;
        flex-wrap: wrap;

        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 118px; 
        gap: 4px;
    }

    .menu {
        display: none;
    }

    /* ----------------------Hero------------------ */

    .hero-section {
        padding-top: 111px;
        padding-bottom: 108px;  

        background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
        url(../images/heroimage-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url(../images/heroimage-tablet-2x.jpg);
  }
}

    .hero-title {
        margin-bottom: 40px;
        width: 500px;

        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
    }

    /* ----------------------Description------------------ */

    .description-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .description-item {
        width: 356px;
    }

    .description-title {
        text-align: left;
    }

      /* ----------------------Team------------------ */

    .team-list {
        gap: 72px 24px;
    }

    /* ----------------------Customers------------------ */

    .customers-list {
        gap: 72px 24px;
    }

    .customers-link {
        width: 168px;
    }

    /* ----------------------Footer------------------ */

    .footer-container {
        justify-content: flex-start;

        padding-left: 108px;
        gap: 72px 24px;
    }

    .logo.bottom {
        justify-content: flex-start;
    }

    .social-title {
        text-align: left;
    }

    .subscribe-form {
        gap: 24px;
    }

    .subscribe-form input {
        width: 264px;
        margin-bottom: 0;
    }

    .modal {
        width: 408;
    }
}